<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Product Inventory Login</title>
 <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
    />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--  <script>
$(document).ready(function(){
 
  $("#submit").on("click", function(){
	    alert("The paragraph was clicked.");
	  });
});
</script>-->
</head>
  <body>
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Login for Product Inventory</h1>

      <form action="home" method="POST">
        <div id="email-group" class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="email@example.com"
          />
        </div>
        
        <div id="password-group" class="password-group">
          <label for="password">Password</label>
          <input
            type="text"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
        
        <button type="submit" class="btn btn-success">Submit
        </button>
        
        </form>
    </div>
  </body>
</html>